body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {

    color: black;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.coffee-shop {
    margin-bottom: 10px;
}
  
.actions {
    margin-bottom: 10px;
}
  
input {
    padding: 8px;
    margin-right: 5px;
}
  
button {
    padding: 8px 12px;
    cursor: pointer;
}
 
.order-stack,
.order-queue {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}
  
.order-queue {
    border-color: #4caf50;
}
  